*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {
  display: grid;
  padding: 133px 30px;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  gap: 30px;
  width: 1140px;
  height: 534px;
}

.content__list {
  height: 260px;
  overflow: auto;
  position: relative;
}

.content__video-card {
  display: grid;
  grid-template-columns: 196px 194px;
  gap: 30px 0px;
}

.content__details {
  
  height: 100%;
}

.search-form {
  display: inline-flex;
  justify-content: space-between;
  align-items: end;
  width: 711px;
}

.result {
  width: 711px;
  height: 456px;
}

video {
  width: 100%;
  object-position: center;
}

.result__video-container {
  width: 711px;
  block-size: 386px;
  margin-block-end: 16px;
  position: relative;
}

.content__list-item{
  width: 394px;
  height: 103px;
  padding: 2px;
}
.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__video-card-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.content__video-card-description {
  line-height: 16.2px;
  margin-top: 3px;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 7.5px;
}

.title {
  font-family: Oswald;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  font-display: block;
  text-decoration: none;
  color: #FFF;
}

.content__video-card-title {
  font-family: Oswald;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

fieldset {
  border-style: none;
}

.search-form__label {
  display: inline-flex;
  height: 22px;
  width: fit-content;
  align-items: center;
  gap: 5px;
}

.search-form__textfield {
  color: rgba(255, 255, 255, 0.70);
  font-family: Fira Sans Condensed;
  font-size: 18px;
  background-color: transparent;
  width: 225px;
  height: 27px;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  border-left: 0px;
  border-right: none;
  appearance: none;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid #FFF;
  cursor: pointer;
}

.button {
  cursor: pointer;
  background-color: transparent;
  color: #FFF;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid #FFF;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
}

.more-button {
  width: 399px;
  height: 34px;
}

label:has(:focus-visible) {
  outline: 1px solid #FFFFFF;
  outline-offset: 2px;
} 

input:focus {
  outline: none;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: '';
  background-color: #FFF;
  position: absolute;
  margin: 1px;
  width: 15px;
  height: 15px;
}

.search-form__label:hover .search-form__label-text{
  text-decoration: underline;
}

button:focus {
  outline: none;
}

button:hover {
  text-decoration: underline;
}

button:focus-visible {
  outline: 1px solid #FFFFFF;
  outline-offset: 3px;
}

button:active {
  background: #545050;
  text-decoration: none;
}

.content__list-item:nth-child(1){
  background: #545050;
}

.content__card-link_current:focus{
  outline: none;
}

.content__card-link_current:focus-visible{
  outline: 1px solid #FFFFFF;
  outline-offset: 3px;
  margin: 2px;
}

.content__list-item:active{
  background: #545050;
}

.content__list-item:hover{
  text-decoration-line: underline;
}